.exchange-list {
    width: 90%;
    min-height: 750px;
    margin: auto;
    background-color: #F5F7FC;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.exchange {
    width: 300px;
    height: 275px;
    background-color: white;
    text-decoration: none;
    color: #202428;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: left;
}

.exchange-logo {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.exchange-info {
    width: 90%;
    margin: auto;
}

.exchange-name,
.exchange-country,
.exchange-url,
.exchange-rank {
    height: 25px;
    width: 100%;
}

.exchange-name {
    font-weight: bold;
}

.exchange-country,
.exchange-url {
    font-size: 14px;
}

.exchange-rank {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-flex;
}

.exchage-rank-number {
    border: 2px solid rgb(25,101,174);;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}